@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.rounded {
    border-radius: 4px;
    overflow: hidden;
}